:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.App {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.8em;
  width: 12.9em;
}

.square {
  border: #646cff 1px solid;
  cursor: pointer;
  height: 2.5em;
  margin: 0 1.8em 0 0;
  width: 2.5em;
}

.square:nth-child(4),
.square:nth-child(5) {
  margin-left: auto;
  margin-right: 10.4em;
}

.filled {
  background-color: #646cff;
}
